# List used to map changing emails and names to fixed names and addresses. Feel
# free to add entries for yourself when doing contributions as seen fit.
# Please keep this list english dictionary sorted.

mintsuki <mintsuki@protonmail.com>
streaksu <streaksu@protonmail.com>
streaksu <streaksu@protonmail.com> <assemblyislaw@gmail.com>
