# List used to map changing emails and names to fixed names and addresses. Feel
# free to add entries for yourself when doing contributions as seen fit.
# Please keep this list english dictionary sorted.

Mintsuki <mintsuki@protonmail.com>
streaksu <streaksu@mailbox.org>
streaksu <streaksu@mailbox.org> <assemblyislaw@gmail.com>
streaksu <streaksu@mailbox.org> <streaksu@protonmail.com>
